.item_descripcion{
    font-size: 18px;
    font-family: sans-serif;
    padding: 10px;
}
.item_precio{
    font-size: 20px;
}
.btn-end{
    background-color: #EABE3F;
    font-size: 16px;
    padding: 5px;
    color: 	#4B4B4B;
    border: none;
    border-radius: 10px;
    margin: 15px;
}
.btn-continue{
    background-color: black;
    font-size: 16px;
    padding: 5px;
    color: 	#EABE3F;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border:none;
    border-radius: 10px;
    width: fit-content;
    margin-bottom: 15px;
}
.Toastify__toast-theme--light{ 
    background-color: black;
    color: #EABE3F;
}
