.cartWidget{
    width: 25px;
    height:25px;
    color:#EABE3F;
    padding: 10px;
}

.cartWidgetText{
    font-weight: bold;
    margin-left: 5px;
    width: 25px;
    height:25px;
    font-size: 18px;
    color:#EABE3F;
}
.cartWidget:hover{
    background-color: #EABE3F;
    color: 	black;
    border-radius: 5px;
}
