.titulo{
    padding:5px;
    margin: 10px;
    text-align: center;
    font-size: 48px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
@media screen and (max-width:370px){
    .titulo{
        font-size: 36px;
    }
}