.cartContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-clean{
    background-color: #EABE3F;
    font-size: 16px;
    padding: 5px;
    color: 	#4B4B4B;
    border: none;
    border-radius: 10px;
    margin: 10px;
}
.btn-clean:hover{
    background-color: black;
    color:#EABE3F;
    transform: scale(1.2);
}
.link-back{
    width: 100%;
    text-align: center;
}
.link-back:hover{
    transform: scale(0.9);
}
.btn-back{
    background-color: black;
    font-size: 16px;
    padding: 5px;
    color: 	#EABE3F;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border:none;
    border-radius: 10px;
    width: 25%;
    margin-bottom: 15px;
}
.btn-back:hover{
    color: #EABE3F;
}
.carrito_vacio{
    text-align: center;
    margin: 20px auto;
    font-size: 40px;
    font-weight: bold;
    color: #EABE3F;
}
.precio{
    text-align: center;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
