.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.redes{
    margin: 15px;
    padding: 15px;
}
.redes h4{
    text-align: center;
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;  
}
.redesIconos{
    width: 35px;
    height: 35px;
    color:#EABE3F;
    margin:5px;
}
