.contador{
    display: flex;
    justify-content:center;
}

.btn-contador{
    border: none;
    background-color:#EABE3F ;
    margin: 0px 10px;
    padding: 0px 8px;
    height: fit-content;
    width: fit-content;
    align-self: center;
    border-radius: 15px;
}
.btn-carrito{
    border: none;
    color:#EABE3F ;
    font-weight: bold;
    width: fit-content;
    margin: auto;
    padding: 8px;
    border-radius: 15px;
}